/* src/styles.css */
.underline-animation {
    position: relative;
    overflow: hidden;
  }
  
  .underline-animation::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white; /* Adjust the color as needed */
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-out;
  }
  
  .underline-animation:hover::after {
    color: #fff;
    transform: scaleX(1);
    transform-origin: left;
  }

.swiper-slide-indicator {
  position: absolute;
  /* top: 1000px; Adjust top position as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  width: 50px; /* Adjust width of the indicator line */
  height: 2px; /* Adjust height of the indicator line */
  background-color: #fff; /* Adjust background color */
}
/* styles.css */
.slide {
  position: relative;
}

.slide img {
  display: block;
  width: 100%;
  height: auto;
}

.dual-images {
  display: flex;
  justify-content: space-between;
}

.dual-images img {
  width: 50%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 270px;
  left: 80px;
  color: white;
  padding: 20px;
  z-index: 1;
}

.overlay h2{
  font-size: 2rem;
  margin: 0;
}
.overlay h1{
width: 500px;
}
.overlay p {
  font-size: 14px;
  margin-bottom: 2rem;
  margin-left: 3px;
  font-weight: 600;
}

.overlay button {
  padding: 14px 20px;
  font-size: 14px;
  background-color: #f3ff34;
  border: none;
  color: #000;
  cursor: pointer;
  width: 150px;
  font-weight:700 ;
}

.overlay button:hover {
  opacity: 0.9;
}
.overlay-2 {
  position: absolute;
  top: 270px;
  left: 430px;
  color: white;
  padding: 20px;
  text-align: center;
}
.overlay-2 button {
  padding: 14px 20px;
  font-size: 14px;
  background-color: #f3ff34;
  border: none;
  color: #000;
  cursor: pointer;
  width: 150px;
  font-weight:700 ;
  margin-top: 20px;
}
.overlay-2 button:hover {
  opacity: 0.9;
}
.overlay-2 h1{
  width: 300px;
  }